.feed {
    // background: ;
    header {
        background: #333333;
        color: #fff;
        padding: 50px;
        h1,
        h3 {
            margin: 0;
        }
        h1 {
            font-size: 60px;
        }
    }
    ul {
        list-style: none;
        padding: 0 25px;
        margin: 0;
        li {
            border-bottom: 1px #ccc solid;
            display: flex;
            &:hover {
                background: #fafafa;
            }
            a {
                text-decoration: none;
                font-size: 13pt;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 25px;
                flex: 1;
                p, span {
                    color: #333;
                }
                span.author {
                    color: #999;
                }
            }
            button {
                cursor: pointer;
                border: none;
                background: transparent;
                padding: 0;
                outline: 0;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                svg {
                    width: 20px;
                    &.loading-story {
                        animation-name: spin;
                        animation-duration: 1s;
                        animation-iteration-count: infinite;
                        animation-timing-function: linear; 
                    }
                }
            }
        }
    }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
